<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Blog - Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao Blog!</h1>
    <p>Este é o meu primeiro template no Django 🎉</p>
</body>
</html>
{% extends "base.html" %}


{% block content %}

    <h2>Bem-vindo , inciando com Django</h2>





    <div class="container-fluid">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>



  <ul>
    {% for i in posts %}
      <li>{{ i.titulo }}</li>
    {% endfor %}
  </ul>    


  <ul>
    {% for i in posts %}
      <li>{{ i.titulo }}</li>
    {% endfor %}
  </ul>


  <ul>
    {% for i in pessoas %}
      <li> Usuario : {{ i.name_usuario }}</li>
      <li> Primeiro Nome : {{ i.primeir_nome_usuario }}</li>
      <li> Email : {{ i.email_usuario }}</li>
      <br/>
    {% endfor %}
  </ul>
   <a href="{% url 'logout' %}" class="btn btn-danger">Sair</a>
{% endblock %}
